.load {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    animation-name: fadeOut;
    animation-delay: 1500ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    from {
        display: none;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 61.625em) {
    .projects .container {
        width: 100%;
        max-width: 100%;
    }
}

/*.project {*/
/*position: relative;*/
/*top: 0em;*/
/*width: 44%;*/
/*height: 27.5em;*/
/*margin: 2.25em 2.25em;*/
/*float: left;*/
/*padding: 0;*/
/*animation-name: fadeInUp;*/
/*animation-duration: 1s;*/
/*animation-fill-mode: both;*/
/*box-shadow: 0 4.375em 7.5em rgba(0, 0, 0, 0.33);*/
/*}*/

.project {
    position: relative;
    top: 0em;
    width: 100%;
    height: 27.5em;
    margin: 2.25em auto;
    padding: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    box-shadow: 0 4.375em 7.5em rgba(0, 0, 0, 0.33);
}

.project .overlay {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5em;
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent, transparent);
    background-image: linear-gradient(transparent, transparent);
    -webkit-transition: all 175ms ease;
    -moz-transition: all 175ms ease;
    transition: all 175ms ease;
}

@media screen and (max-width: 61.625em) {
    .project .overlay {
        padding: 0 3.5em;
    }
}

.project h4 {
    margin: 0 0 0.625em 0;
    font-weight: 700;
    letter-spacing: 0.125em;
    opacity: 0.50;
}

.project h1 {
    font-weight: 700;
    letter-spacing: 0.025em;
    margin: 0 0 0.125em 0;
}

.project p {
    max-height: 0em;
    margin: 0;
    overflow: hidden;
    opacity: 0.50;
    -webkit-transition: max-height, 175ms;
    -moz-transition: max-height, 175ms;
    transition: max-height, 175ms;
}

.project button {
    margin: 2.25em 0 0 0;
}

.project button span.arrow {
    display: inline-block;
    width: 1.25em;
    height: 0.6875em;
    margin: 0 0 0 -1.25em;
    content: "";
    opacity: 0;
    -webkit-transition: all, 175ms;
    -moz-transition: all, 175ms;
    transition: all, 175ms;
    transition-delay: 175ms;
}

.project:hover p {
    max-height: 4.5em;
}

.project:hover span.arrow {
    margin-left: 0;
    background-position: right center;
    opacity: 1;
}

@media screen and (max-width: 61.625em) {
    .project {
        height: 37.5em;
        margin: 0 auto;
    }

    .project .container {
        width: 100%;
    }

    .project p {
        max-height: 8em;
    }

    .project span.arrow {
        margin-left: 0 !important;
        background-position: right center !important;
        opacity: 1 !important;
    }

    .project:first-of-type {
        margin-top: 2.25em;
    }

    .project:last-of-type {
        margin-bottom: 2.25em;
    }
}

.p-dark .overlay {
    color: #262626;
}

.p-dark button {
    background-color: #262626;
    color: #FFFFFF;
}

.p-dark span.arrow {
    background: url("") no-repeat -1.25em center;
    background-size: cover;
}

.p-dark:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), transparent);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), transparent);
}

@media screen and (max-width: 61.625em) {
    .p-dark .overlay {
        background-color: rgba(255, 255, 255, 0.5);
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), transparent);
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), transparent);
    }
}

.p-light .overlay {
    color: #FFFFFF;
}

.p-light span.arrow {
    background: url("") no-repeat -1.25em center;
    background-size: cover;
}

.p-light:hover .overlay {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
}

@media screen and (max-width: 61.625em) {
    .p-light .overlay {
        background-color: rgba(0, 0, 0, 0.25);
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
    }
}

/* Project list  */

#p-shooting-ai {
    background: url("../../img/weater-react-app-animation.gif") no-repeat center center;
    background-size: cover;
    opacity: 0; 
}

#p-bear-maps {
    background: url("../../img/weater-react-app-animation.gif");
    background-size: cover;
}

#p-ants {
    background: url("../../img/weater-react-app-animation.gif");
    background-size: cover;
}

#p-blog {
    background: url("../../img/weater-react-app-animation.gif");
    background-size: cover;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.project:nth-child(1) {
    z-index: 10;
    animation-delay: 300ms;
}

.project:nth-child(2) {
    z-index: 20;
    animation-delay: 425ms;
}

.project:nth-child(3) {
    z-index: 30;
    animation-delay: 550ms;
}

.project:nth-child(4) {
    z-index: 40;
    animation-delay: 675ms;
}

.project:nth-child(5) {
    z-index: 50;
    animation-delay: 800ms;
}

.project:nth-child(6) {
    z-index: 60;
    animation-delay: 925ms;
}

.project:nth-child(7) {
    z-index: 60;
    animation-delay: 1050ms;
}

.project:nth-child(8) {
    z-index: 60;
    animation-delay: 1175ms;
}

.project:nth-child(9) {
    z-index: 60;
    animation-delay: 1300ms;
}

.project:nth-child(10) {
    z-index: 60;
    animation-delay: 1425ms;
}

.project:nth-child(11) {
    z-index: 60;
    animation-delay: 1550ms;
}

.project:nth-child(12) {
    z-index: 60;
    animation-delay: 1675ms;
}

.project:nth-child(13) {
    z-index: 60;
    animation-delay: 1800ms;
}

button {
    width: 14.0625em;
    height: 3em;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", "brandon-grotesque", sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #262626;
    border: 0;
    outline: none;
}